$uglyred : #FF2F2F;
$uglyorange : #FE663F;
$uglybrown : #CD8F50;
$uglygreen : #5EAB42;
$uglyblack : #000000;
$uglygray : #333333;
$uglylightgray : #CECECE;

// 임시
body {
    background-color: bisque;
    height: 5000px;
    &.hovermode{
        header{
            background-color: white !important;
        }
    }
    header{
        // transition: 0.3s;
        .naviStyle {
            height: 80px;
            .logoimg{
                max-width: 150px;
            }
            .gnb{
                &:hover{
                    &:before{
                        border-top: 1px solid #D9D9D9;
                        height: calc(9rem + 50px);
                        width: 1920px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    .gnbli{
                        .gnbul{
                            height: calc(9rem + 20px);
                        }
                    }
                }
                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 100%;
                    right: 0;
                    height: 0;
                    background-color: white;
                    transition: height 0.3s;
                }
                .gnbli{
                    > a{
                        margin-bottom: 15px;
                        padding: 20px 50px 0;
                        display: block;
                        overflow: hidden;
                        position: relative;
                        line-height: 1;
                        &:hover{
                            &:before{
                                content: "";
                                position: absolute;
                                top: 0;
                                height: 100%;
                                left: 2px;
                                width: 45px;
                                display: block;
                                transition: 0.5s;
                                background-image: url(../../public/img/header/ground2.svg);
                                background-repeat: no-repeat;
                                background-position: center bottom;
                                z-index: 1;
                                margin-top: 1px;
                            }
                            &::after{
                                transform: translateY(-100%);
                            }
                        }
                        &:after{
                            content: "";
                            display: block;
                            width: 50px;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            background-repeat: no-repeat;
                            background-position: center bottom;
                            transform: translateY(0);
                            transition: 0.5s;
                        }
                    }
                    .naviIcon0{
                        display: block;
                        &::after{
                            background-image: url(../../public/img/header/carrot.svg);
                            background-size: auto 100%;
                            margin-top: 12px;
                        }
                    }
                    .naviIcon1{
                        display: block;
                        &::after{
                            background-image: url(../../public/img/header/onion2.svg);
                            background-size: auto 100%;
                            margin-top: 7px;
                        }
                    }
                    .naviIcon2{
                        &::after{
                            background-image: url(../../public/img/header/potato.svg);
                            background-size: auto 77%;
                            margin-top: 7px;
                        }
                    }
                    .naviIcon3{
                        display: block;
                        &::after{
                            background-image: url(../../public/img/header/sweetpotato2.svg);
                            background-size: auto 88%;
                            margin-top: 7px;
                        }
                    }
                    .gnbul{
                        top: 67px;
                        // left: 0;
                        height: 0;
                        overflow: hidden;
                        transition: 0.3s;
                        .ulSubmenu{
                            width: 170px;
                            height: 45px;
                            &:hover{
                                background-color: $uglyorange;
                                span{
                                    color: white;
                                }
                            }
                        }
                    }
                    .ulStyle1{
                        left: -5px;
                    }
                    .ulStyle2{
                        left: -3.915px;
                    }
                }
            }
            .utilStyle {
                padding-right: 30px;
            }
        } 
    }
}

// .gnbli:hover > a:before, .gnbli .gnbul:hover > a:before, .gnbli:hover > a:after, .gnbli .gnbul:hover > a:after {
//     content: "";
//     position: absolute;
//     top: 0;
//     height: 100%;
//     left: 2px;
//     width: 45px;
//     display: block;
//     transition: 0.5s;
//     background-image: url(../../public/img/header/ground2.svg);
//     background-repeat: no-repeat;
//     background-position: center bottom;
//     z-index: 1;
//     margin-top: 1px;
// }

// .gnbli:hover > a:after, .gnbli .gnbul:hover > a:after {
//     content: "";
//     display: block;
//     width: 50px;
//     height: 100%;
//     position: absolute;
//     left: 0;
//     background-repeat: no-repeat;
//     background-position: center bottom;
//     transform: translateY(-100%);
//     transition: 0.5s;
// }